.App {
  text-align: center;
  // border: 1px solid red;
  margin: 7% auto 0 auto;
  width: 60%;
  padding: 2%;
  background-color: white;
  border-radius: 5px;

  h1{
    font-size: 2rem;
    margin-top: 5%;
    margin-bottom: 2%;
    font-weight: 300;
  }
}
